<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.order.mapper.OrderMapper">

	<select id="selectProd" resultType="product">
		select prod_name, prod_price, prod_brand, prod_from, prod_img
		from   products
		where  prod_no = #{prodNo}
	</select>
	<select id="selectRev">
		select rev_star, rev_content, 
		from   reviews
		where  mem_no = #{memNo}
	</select>

</mapper>
