<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.main.mapper.MainProductsMapper">
	<select id="prodList" parameterType="String" resultType="product">
		select rownum, a.*
        from(select  * 
        from products
        order by ${order} desc) a
        where 4>=rownum
	</select>
  	<!-- 헤더용 카트 리스트 -->
  	<select id="cartList" resultType="co.yedam.member.Cart" parameterType="String">
	  select c.cart_no,
             c.mem_no,
             c.cart_quant,
             p.prod_no,
             m.mem_name,
             p.prod_name,
             p.prod_price,
            (p.prod_price * c.cart_quant) money,
             p.prod_img
      from members m, carts c, products p
      where m.mem_no = c.mem_no
        and p.prod_no = c.prod_no
        and c.mem_no = #{memNo}
      order by c.cart_no
	</select>
 		
</mapper>