<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.main.mapper.MainProductsMapper">
	<select id="prodList" parameterType="String" resultType="product">
		SELECT *
		FROM (select rownum rn, a.* 
        	from products a
        	order by #{order} desc)
 		where 4 >= rn 
	</select>
	<select id="randomList"  resultType="product">
select * from (
    select * from products order by DBMS_RANDOM.RANDOM
)
where   4>=rownum
 		
	</select>
</mapper>