<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.my.mapper.MyMapper">

	<select id="qnaList" resultType="qna">	<!-- qna 리스트 -->
		select inq_no,
		       inq_type,
		       inq_title,
		       inq_content,
		       inq_date,
		       inq_resp,
		       mem_no
		from inquiries
	</select>
	
	<select id="qnaSelectList" resultType="qna" parameterType="search">	<!-- qna 리스트 -->
		select rn,
		       inq_no,
		       inq_type,
		       inq_title,
		       inq_content,
		       inq_date,
		       inq_resp,
		       mem_no
		from (select /*+ INDEX(b inq_date) */ rownum rn, b.*
		      from inquiries b
		      <![CDATA[
		      where rownum <= (#{page} * 5))a
		       ]]>
		where a.rn > (#{page} - 1) * 5
	</select>
	
	<select id="selectCount" resultType="int" parameterType="search">
		select count(*) 
		from inquiries
	</select>
	
	<select id="selectQna" resultType="qna" parameterType="int"> <!-- qna 세부내용 -->
		select inq_no,
		       inq_title,
		       inq_content,
		       inq_date,
		       mem_no
		from inquiries
		where inq_no = #{inqNo}
	</select>
	
	<insert id="insertQna" parameterType="qna">
		insert into inquiries(inq_no,
		                      inq_type,
		                      inq_title,
		                      inq_content,
		                      inq_date,
		                      inq_resp,
		                      mem_no)
		values (inq_seq.nextval,
		        #{inqType},
		        #{inqTitle},
		        #{inqContent},
		        sysdate,
		        null,
		        #{memNo})
	</insert>
	
	<!-- <select id="orderList" resultType="co.yedam.my.OrderList">	구매내역 리스트
		select d.ord_no,
      	       p.prod_name,
               d.ord_date,
               o.list_quant,
               d.ord_price,
               d.ord_total,
               d.ord_stat,
               o.list_no,
               d.mem_no,
               p.prod_no    
		from products p JOIN  orderlists o on (o.prod_no = p.prod_no)
                JOIN orders d on (o.ord_no = d.ord_no)
	</select> -->
	
	<select id="orderList" resultType="co.yedam.my.OrderList" parameterType="co.yedam.my.OrdSearchVO">
		select *   
        from (select  rownum rn, b.*
		      from (select d.ord_no,
      	       				p.prod_name,
              				 d.ord_date,
              				 o.list_quant,
             				  d.ord_price,
             				  d.ord_total,
             				  d.ord_stat,
             				  o.list_no,
             				  d.mem_no,
             				  p.prod_no
                    from products p JOIN  orderlists o on (o.prod_no = p.prod_no)
                               JOIN orders d on (o.ord_no = d.ord_no)) b
              <![CDATA[                 
		      where rownum <= (#{opage} * 5))a  
		      ]]>            
        where a.rn > (#{opage} - 1) * 5
        order by ord_date desc
	</select> 
	
	<select id="selectOrdCount" resultType="int" parameterType="co.yedam.my.OrdSearchVO">
		select count(*) 
		from orderlists
	</select>
	
	<select id="selectMember" parameterType="member">
		select mem_no,
		       mem_id,
		       mem_pw,
		       mem_name,
		       mem_phone,
		       mem_mail,
		       mem_addr,
		       mem_point
		from members
		where mem_id = #{memId}
		and   mem_pw = #{memPw}
	</select>
	
	<update id="updateMember" parameterType="member">
		update members
	    set mem_name = #{memName}, 
	    mem_pw = #{memPw},
        mem_phone = #{memPhone},
        mem_mail = #{memMail},
        mem_addr = #{memAddr}
        where mem_no = #{memNo}
	</update>
	
	<delete id="deleteMember" parameterType="int">
		delete members
		where mem_no = #{mno}
	</delete>
	
	<insert id="insertReply" parameterType="reply">
		insert into reviews (rev_no,
		                     rev_star,
		                     rev_content,
		                     rev_date,
		                     prod_no,
		                     mem_no,
		                     list_no)
		values (rev_seq.nextval,
		        #{revStar},
		        #{revContent},
		        sysdate,
		        #{prodNo},
		        #{memNo},
		        #{listNo})
	</insert>
	
	<select id="selectReply" resultType="reply" parameterType="int">
		select d.ord_no,
      	       p.prod_name,
               d.ord_date,
               o.list_quant,
               d.ord_price,
               d.ord_total,
               d.ord_stat,
               o.list_no,
               d.mem_no,
               p.prod_no    
		from products p JOIN  orderlists o on (o.prod_no = p.prod_no)
                JOIN orders d on (o.ord_no = d.ord_no)
		where o.list_no = #{listNo}
	</select>
</mapper>
