<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.member.mapper.MemberMapper">
  <select id="selectMember" parameterType="member" resultType="member">
	select mem_no,
		   mem_id,
		   mem_pw,
		   mem_name,
		   mem_phone,
		   mem_mail,
		   mem_addr,
		   mem_point
    from   members
    where  mem_id = #{memId}
	and    mem_pw = #{memPw}
  </select>
	
  <insert id="insertMember" parameterType="member">
	insert into members (mem_id,
                         mem_pw,
                         mem_name,
                         mem_phone,
                         mem_mail,
                         mem_addr)
    values (#{memId}, #{memPw}, #{memName}, #{memPhone}, #{memMail}, #{memAddr})
  </insert>
  
	<!-- 장바구니 추가 
	<insert id="insertCart" parameterType="Cart">
	
	<selectKey resultType="int" keyProperty="cartNo" order="BEFORE">
	select car_seq.nextval
	from dual
	</selectKey>
	
	insert into carts (cart_no,
                       cart_quant,
                       prod_no,
                       mem_no)
    values (#{cartNo}, #{cartQuant}, #{prodNo}, #{memNo})
	</insert>
	-->
	
	<!-- 장바구니 목록 -->
	<select id="cartList" resultType="co.yedam.member.Cart" parameterType="String">
	  select c.cart_no,
             c.mem_no,
             c.cart_quant,
             p.prod_no,
             m.mem_name,
             p.prod_name,
             p.prod_price,
            (p.prod_price * c.cart_quant) money,
             p.prod_img,
             p.prod_sale
      from members m, carts c, products p
      where m.mem_no = c.mem_no
        and p.prod_no = c.prod_no
        and c.mem_no = #{memNo}
      order by c.cart_no
	</select>
	
	<select id="selectoption" resultType="co.yedam.member.Cart" parameterType="int">
		select opt_text
		from   options
		where  prod_no = #{prodNo}
	</select>
	
	
	
	<!-- 장바구니 삭제 -->
	<delete id="deleteCart" parameterType="co.yedam.member.Cart">
      delete from carts
      where cart_no = #{cartNo}	
	</delete>
	
	<!-- 장바구니 수정 -->
	<update id="modifyCart" parameterType="cart">
	  update carts
	  set cart_quant = #{cartQuant}
	  where mem_no   = #{memNo}
	  and prod_no    = #{prodNo}
	</update>
	
	<!-- 장바구니 전체 금액 -->
	<select id="totalMoney" resultType="int">
	  select NVL(sum(prod_price * cart_quant), 0) money
      from  carts c, products p 
      where c.prod_no = p.prod_no
      and   c.mem_no = #{memNo}
    </select>
    
    <!-- 장바구니에 동일한 상품 확인 -->
    <select id="CountCart" resultType="int">
      select COUNT(*)
      from carts
      where mem_no = #{memNo}
      and   prod_no = #{prodNo}
    </select>
      
      <!-- 장바구니에 동인한 상품이 있을시 수정 -->
    <update id="updateCart" parameterType="cart">
      update carts
      set cart_quant = #{cartQuant}
      where mem_no = #{memNo}
      and prod_no = #{prodNo}
    </update>
    
    <!-- 장바구니에 추가하면서 출력하기
    <insert id="insertselectCart" parameterType="cart">
    INSERT into carts (cart_quant,
                       prod_no,
                       mem_no)
     values (#{cartQuant}, #{prodNo}, #{memNo})
     <selectKey keyProperty="prodNo" keyColumn="prod_no" order="AFTER">
        select *
        from carts
        where mem_no = #{memNo}
        and   prod_no = #{prodNo}
     </selectKey>
    </insert>
     -->
</mapper>